{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('dashboard') }}">
	ESPN League URL: <br>
	<input type="text" name="league-url"
		   placeholder="https://fantasy.espn.com/basketball/team?leagueId=1&teamId=1" style="width: 25%"><br>
	Season Year: <br>
	<input type="text" name="league-year" placeholder="2020"> <br>
	<br>
	ESPN Username: <br>
	<input type="text" name="username" placeholder="yourUsername"/><br>
	ESPN Password: <br>
	<input type="password" name="password" placeholder="yourPassword" /> <br>

	<p>or</p>

	<p>JSON Cookies</p>
	<textarea name="cookies" placeholder="{
        'espn_s2': yourESPNs2,
        'swid': yourSWID
}" rows=4 style="width: 25%"></textarea> <br>
	<input type="submit" />
</form>

{% endblock %}